/************************************************
    RESET
************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, heaizq, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    borizq: 0;
    vertical-align: baseline;
}
sub, sup {
    margin: 0;
    padding: 0;
    borizq: 0;
}
/* HTML5 display-role reset for olizq browsers */
article, aside, details, figcaption, figure,
footer, heaizq, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    borizq-collapse: collapse;
    borizq-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {     font-weight: normal;}



/************************************************
    ipad resets
************************************************/

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

div, span, a {    -webkit-tap-highlight-color: rgba(0,0,0,0);  }

/************************************************
    APP STYLES
************************************************/

#global{
    position: absolute;
    width: 1024px;
    height: 768px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}
.abs{
    position: absolute;
}
.bgred{
    background-color: rgba(100,0,0,0.5);
}


/*
 * css de la slide
*/
#global{
    background-image: url('../media/images/bg.png');
}



.btn{
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}



#boton_video1 {
    /* background: transparent url('../media/images/info1.png') no-repeat center center; */
    position: absolute;
    top: 26%;
    left: 52.5%;
    width: 259.5px;
    height: 165.5px;
    background-size: 100%;
}

#boton_video2 {
    /* background: transparent url('../media/images/info1.png') no-repeat center center; */
    position: absolute;
    top: 58%;
    left: 52.5%;
    width: 259.5px;
    height: 165.5px;
    background-size: 100%;
}

#info1{
    position: absolute;
    left: 0%;
    top: 1%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent url('../media/images/info1.png') no-repeat center center;
    background-size: 85%;
    display:none;
}
#info2{
    position: absolute;
    left: 0%;
    top: 1%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent url('../media/images/info2.png') no-repeat center center;
    background-size: 85%;
     display:none;
}

/*VIDEO*/
#vid1 {
    position: absolute;
    top: 19.4%;
    left: 7.3%;
    z-index: -1;
    width: 85.1%;
    height: 63.8%;
    background-color: black;
}

#vid1.active{
    z-index: 3;
}


/*VIDEO*/
#vid2 {
    position: absolute;
    top: 19.4%;
    left: 7.3%;
    z-index: -1;
    width: 85.1%;
    height: 63.8%;
    background-color: black;
}

#vid2.active{
    z-index: 3;
}
.popup{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0,0,0,0.87);
}
.popup.active{
    z-index: 10;
    opacity: 1;
}

.popup_close {
    background-image: url(../media/images/close_r.png);
    background-size: 100%;
    top: 9%;
    left: 89%;;
}
#fondo-popup{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent url('../media/images/fondo-popup.png') no-repeat center center;
    background-size: 90%;
}
#play1{
    position: absolute;
    left: 33.9%;
    top: 34.8%;
    width: 34.2%;
    height: 36.3%;
    z-index: 1;
    background-size: 100%;
}
#play2{
    position: absolute;
    left: 33.9%;
    top: 34.8%;
    width: 34.2%;
    height: 36.3%;
    z-index: 1;
    background-size: 100%;
}
.popup_close{
    position: absolute;
    left: 88.9%;
    top: 8.6%;
    width: 4.8%;
    height: 6.5%;
    z-index: 1;
    background: transparent url('../media/images/close_r.png') no-repeat center center;
    background-size: 100%;
}
a {
    position: absolute;
    width: 293px;
    height: 36px;
    top: 271px;
    left: 61px;
}
.btn2{
    position: absolute;
    top: 4%;
    left: 4.5%;
    width: 68.5px;
    height: 73.5px;
    background-size: 100%;
}